.container {
  max-width: 900px
}
h3 {
  color: rgb(60, 60, 60);
}
h4 {
  color: rgb(100, 100, 100);
  font-weight: normal;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.summary {
  margin-bottom: 1em;
}
.summary .post-meta {
  font-size: .875em;
}
.summary .excerpt {
  font-size: .82em;
  font-style: italic;
}
.summary footer {
  font-size: .9em;
  font-weight: bold;
  font-style: italic;
}