.container {
  max-width: 900px
}
h3 {
  color: rgb(60, 60, 60);
}
h4 {
  color: rgb(100, 100, 100);
  font-weight: normal;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.summary {
  margin-bottom: 1em;
}
.summary .post-meta {
  font-size: .875em;
}
.summary .excerpt {
  font-size: .82em;
  font-style: italic;
}
.summary footer {
  font-size: .9em;
  font-weight: bold;
  font-style: italic;
}

/* Cookies notice */
.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  z-index: 100000;
  transition: 400ms;
}
.cookie-container.active {
  bottom: 0;
}
.cookie-container a {
  color: #f5f6fa;
  border-bottom: .125em dashed #bdbdbd;
  border-bottom-width: 0.125em;
  border-bottom-style: dashed;
  border-bottom-color: rgb(189, 189, 189);
}
.cookie-btn {
  background: #d04a2b;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#session-widget #session-section {
  display: none;
}
#session-widget #login-section {
  display: none;
}
#session-section > img, #session-section > button, #session-section > span {
  display: block;
  margin-left: auto;
}
#session-section #session-avatar {
  border-radius: 0.4em;
  max-width: 50%;
}

.rawhtml-content {
  margin-bottom: 1.5em;
}

/* Forms */
.user-form input,div {
  margin-bottom: .3em;
  margin-right: .3em;
}
.user-form button {
  margin-top: .5em;
}

#response {
  border: rgb(60, 60, 60);
  margin-top: 1em;
  padding: .2em;
}

/* FIXES */

.button:disabled,
button:disabled,
input[type=button]:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled {
  text-decoration: line-through;
  opacity: 0.5;
  cursor: not-allowed;  
  cursor: -moz-not-allowed;
  cursor: -webkit-not-allowed;
}
.button:disabled:hover,
button:disabled:hover,
input[type=button]:disabled:hover,
input[type=reset]:disabled:hover,
input[type=submit]:disabled:hover {
  background:inherit;
  color:inherit;
}
